<!DOCTYPE html>
<html>

<head>
  {%  include head.html %}
</head>

<body>
  <div id="container">
    <div class="inner">
      <header>
        <h1>JTooltip</h1>
        <h2>Not just another Tooltip library.  Ok, it kinda is ...</h2>
        <h5>by <a href="https://github.com/jamietsao">Jamie Tsao</a></h5>
      </header>

      {%  include download.html %}
      <hr/>

      <section id="main_content">
        {{ content }}
      </section>
      <footer>
        {%  include footer.html %}
      </footer>
    </div>
  </div>
</body>

</html>